<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.ylb.db.mapper.FinanceAccountMapper">

    <resultMap id="BaseResultMap" type="com.liu.ylb.db.entity.FinanceAccount">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="availableMoney" column="available_money" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,available_money
    </sql>
    <update id="reduceAccountMoney">
        update u_finance_account
        set available_money = available_money - #{bidMoney}
        where uid = #{uid} and (available_money - #{bidMoney} >= 0)
    </update>
    <update id="updateByIncome">
        update u_finance_account
        set available_money = available_money + #{bidMoney} + #{incomeMoney}
        where uid = #{uid}
    </update>
    <update id="updateMoneyByRecharge">
        update u_finance_account
        set available_money = available_money + #{rechargeMoney}
        where uid = #{uid}
    </update>
    <select id="selectByUidForUpdate" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from u_finance_account
        where uid = #{uid}
        for update
    </select>
</mapper>
